node_modules
.env
coverage
coverage.json
typechain
.idea
data
data/
.openzeppelin/
scripts/deployed-contracts/

#Hardhat files
cache
artifacts
typechain-types
analysis
last-deploy.json
test/last-deploy.json